.hk-header {
  position: fixed;
  top: 5rem;
  right: 2rem;
  transform-origin: top left;
  height: var(--header-height);
  background: white;
  z-index: 3;
  box-shadow: 10px 10px rgba(189, 189, 189, 0.2);
  border: solid thin #f2f2f2;
  transition: 0.2s all cubic-bezier(0.07, 0.85, 0.57, 1);
  transform-origin: right;
}
.hk-header .hk-nav {
  justify-content: end;
  height: 100%;
}
.hk-header .hk-nav .hk-nav-link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 2rem;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  color: black;
}
.hk-header .hk-nav .hk-nav-link.hk-nav-link-active, .hk-header .hk-nav .hk-nav-link.hk-nav-link-active:hover {
  background-color: rgba(199, 188, 10, 0.1019607843);
  color: #c7bc0a;
  cursor: unset;
  position: relative;
}
.hk-header .hk-nav .hk-nav-link.hk-nav-link-active::after, .hk-header .hk-nav .hk-nav-link.hk-nav-link-active:hover::after {
  content: "";
  width: 100%;
  height: 2px;
  background: #c7bc0a;
  position: absolute;
  bottom: 0;
  left: 0;
}
.hk-header .hk-nav .hk-nav-link:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.hk-header .hk-nav .hk-nav-link:hover .hk-nav-link-icon {
  transform: scale(1.5, 1.5);
}
.hk-header .hk-nav .hk-nav-link .hk-nav-link-icon.hk-nav-link-icon-about .hk-nav-link-icon-about-tag {
  display: none;
}

.hk-main .hk-section {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  padding: 4rem var(--page-padding-h);
  padding-top: 18rem;
}
.hk-main .hk-section.hk-section-about {
  padding-top: 4rem;
  padding-bottom: 0;
}
.hk-main .hk-section.hk-section-about .hk-about-text-container {
  width: 50%;
}
.hk-main .hk-section.hk-section-about .hk-about-text-container .hk-section-header .hk-section-header-line {
  display: block;
  font-weight: 100;
}
.hk-main .hk-section.hk-section-about .hk-about-text-container .hk-section-header .hk-section-header-line.hk-section-header-line-2 {
  color: #c7bc0a;
}
.hk-main .hk-section.hk-section-about .hk-about-img-container {
  width: 50%;
}
.hk-main .hk-section.hk-section-about .hk-about-img-container .hk-image {
  width: 100%;
  margin-top: auto;
}
.hk-main .hk-section.hk-section-skills {
  min-height: unset;
}
.hk-main .hk-section.hk-section-skills .hk-skills {
  position: relative;
  justify-content: space-between;
  z-index: 1;
}
.hk-main .hk-section.hk-section-skills .hk-skills .hk-skill {
  position: relative;
  font-size: 1rem;
  margin-right: 0rem;
  margin-bottom: 5rem;
  padding: 1rem;
}
.hk-main .hk-section.hk-section-skills .hk-skills .hk-skill .hk-skill-logo {
  position: absolute;
  font-size: 7rem;
  top: 50%;
  right: 0;
  transform: translate(50%, -70%);
  color: #286ec5;
}
.hk-main .hk-section.hk-section-skills .hk-skills .hk-skill .hk-skill-content {
  position: relative;
  text-align: left;
}
.hk-main .hk-section.hk-section-skills .hk-skills .hk-skill .hk-skill-content .hk-skill-label {
  font-size: 3rem;
  font-weight: 100;
  color: #286ecf;
}
.hk-main .hk-section.hk-section-skills .hk-skills .hk-skill .hk-skill-content .hk-skill-proficiency {
  font-size: 0.8rem;
  font-weight: bold;
  color: #8f8f8f;
}
.hk-main .hk-section.hk-section-skills .hk-skills .hk-skill:last-of-type {
  margin-right: 0;
}
.hk-main .hk-section.hk-section-skills .hk-skills .hk-skill.hk-skill-html .hk-skill-logo {
  color: #fcddd2;
}
.hk-main .hk-section.hk-section-skills .hk-skills .hk-skill.hk-skill-html .hk-skill-content .hk-skill-label {
  color: #f25320;
}
.hk-main .hk-section.hk-section-skills .hk-skills .hk-skill.hk-skill-css .hk-skill-logo {
  color: #cce1ef;
}
.hk-main .hk-section.hk-section-skills .hk-skills .hk-skill.hk-skill-css .hk-skill-content .hk-skill-label {
  color: #016ab1;
}
.hk-main .hk-section.hk-section-skills .hk-skills .hk-skill.hk-skill-js .hk-skill-logo {
  color: #fcf6cc;
}
.hk-main .hk-section.hk-section-skills .hk-skills .hk-skill.hk-skill-js .hk-skill-content .hk-skill-label {
  color: #f2d400;
}
.hk-main .hk-section.hk-section-skills .hk-skills .hk-skill.hk-skill-angular .hk-skill-logo {
  color: #f6ccd5;
}
.hk-main .hk-section.hk-section-skills .hk-skills .hk-skill.hk-skill-angular .hk-skill-content .hk-skill-label {
  color: #d2002f;
}
.hk-main .hk-section.hk-section-experience .hk-exp-timeline .hk-timeline-node {
  display: flex;
  margin-bottom: 2rem;
}
.hk-main .hk-section.hk-section-experience .hk-exp-timeline .hk-timeline-node:last-of-type {
  margin-bottom: 0;
}
.hk-main .hk-section.hk-section-experience .hk-exp-timeline .hk-timeline-node:last-of-type .node-leading::after {
  display: none;
}
.hk-main .hk-section.hk-section-experience .hk-exp-timeline .hk-timeline-node .node-leading {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hk-main .hk-section.hk-section-experience .hk-exp-timeline .hk-timeline-node .node-leading .leading-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
.hk-main .hk-section.hk-section-experience .hk-exp-timeline .hk-timeline-node .node-leading::after {
  content: "";
  position: absolute;
  top: 2.5rem;
  width: 1rem;
  height: 100%;
  background: rgba(40, 110, 197, 0.3);
}
.hk-main .hk-section.hk-section-experience .hk-exp-timeline .hk-timeline-node .node-content {
  margin-left: 1rem;
}
.hk-main .hk-section.hk-section-experience .hk-exp-timeline .hk-timeline-node .node-content .content-time-range {
  font-size: 1rem;
  font-weight: bold;
  color: #7c7c7c;
  margin-top: 0.75rem;
}
.hk-main .hk-section.hk-section-experience .hk-exp-timeline .hk-timeline-node .node-content .content-designation {
  margin-top: 0.5rem;
  font-size: 1.5rem;
  /* font-weight: bold; */
  color: rgb(40, 110, 197);
}
.hk-main .hk-section.hk-section-experience .hk-exp-timeline .hk-timeline-node .node-content .content-company {
  margin-top: 0.25rem;
  font-weight: bold;
  color: #a1a1a1;
}
.hk-main .hk-section.hk-section-experience .hk-exp-timeline .hk-timeline-node .node-content .content-location {
  margin-top: 1rem;
}
.hk-main .hk-section.hk-section-experience .hk-exp-timeline .hk-timeline-node .node-content .content-skills-utilized {
  display: flex;
  gap: 1rem;
  margin-top: 0.25rem;
  font-weight: bold;
  font-size: 1.5rem;
  color: rgba(40, 110, 197, 0.6);
}
.hk-main .hk-section.hk-section-contact-me .hk-contact-options .hk-contact-option {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: black;
}
.hk-main .hk-section.hk-section-contact-me .hk-contact-options .hk-contact-option:last-of-type {
  margin-bottom: 0;
}
.hk-main .hk-section.hk-section-contact-me .hk-contact-options .hk-contact-option .hk-contact-option-label {
  word-break: break-all;
  margin-left: 1rem;
}
.hk-main .hk-section .section-back-tag {
  position: absolute;
  top: 2rem;
  /* left: 120px; */
  font-weight: 100;
  font-size: 8rem;
  color: #000000;
  opacity: 0.5;
  /* transform: rotate(90deg); */
  transform-origin: top left;
  white-space: nowrap;
  text-shadow: 10px 10px #bdbdbd;
}

.hk-footer .hk-footer-note {
  padding: 1rem 2rem;
  text-align: center;
}
.hk-footer .hk-footer-note .hk-footer-note-icon-heart {
  color: red;
}

@media (min-width: 600px) {
  .hk-header .hk-nav .hk-nav-link .hk-nav-link-icon {
    position: absolute;
    top: -1.25rem;
    right: -1rem;
    font-size: 3rem;
    opacity: 0.2;
  }
  .hk-header .hk-nav .hk-nav-link.hk-nav-link-about .hk-nav-link-icon {
    line-height: 2rem;
  }
  .hk-header.hk-header-scrolled {
    transform: scale(0.8);
  }
}
@media (max-width: 600px) {
  .hk-header {
    top: 1rem;
    left: 0rem;
  }
  .hk-header .hk-nav {
    flex: 1;
  }
  .hk-header .hk-nav .hk-nav-link {
    padding: 0 1rem;
    flex: 1;
    min-width: 4rem;
  }
  .hk-header .hk-nav .hk-nav-link .hk-nav-link-label {
    display: none;
  }
  .hk-header .hk-nav .hk-nav-link .hk-nav-link-icon {
    margin-left: 0;
  }
  .hk-header .hk-nav .hk-nav-link .hk-nav-link-icon.hk-nav-link-icon-about {
    font-weight: 900;
  }
  .hk-header .hk-nav .hk-nav-link .hk-nav-link-icon.hk-nav-link-icon-about .hk-nav-link-icon-about-tag {
    display: inline;
  }
  .hk-header .hk-nav .hk-nav-link:hover {
    background-color: unset;
  }
  .hk-main .hk-section {
    width: 100%;
    padding-top: 8rem;
  }
  .hk-main .hk-section.hk-section-about {
    flex-direction: column;
  }
  .hk-main .hk-section.hk-section-about .hk-about-text-container {
    width: 100%;
    margin-top: 4rem;
    margin-bottom: auto;
    position: relative;
    z-index: 2;
  }
  .hk-main .hk-section.hk-section-about .hk-about-text-container .hk-section-header {
    margin-top: 0;
    font-size: 3.5rem;
    opacity: 1;
  }
  .hk-main .hk-section.hk-section-about .hk-about-text-container .hk-section-header .hk-section-header-line {
    font-weight: bold;
  }
  .hk-main .hk-section.hk-section-about .hk-about-text-container .hk-section-description {
    width: calc(100% - 4rem);
    font-weight: bold;
    padding: 1.5rem;
    background: white;
    z-index: 2;
    box-shadow: 10px 10px rgba(189, 189, 189, 0.2);
    border: solid thin #c3c3c3;
  }
  .hk-main .hk-section.hk-section-about .hk-about-text-container.hk-about-text-container-scroll-down .hk-section-header {
    opacity: 0;
    transform: translate(0rem, -10rem) scale(0.8, 0.8);
  }
  .hk-main .hk-section.hk-section-about .hk-about-text-container.hk-about-text-container-scroll-down .hk-section-description {
    opacity: 1;
    transform: translate(0rem, 0rem) scale(1, 1);
  }
  .hk-main .hk-section.hk-section-about .hk-about-img-container {
    position: absolute;
    right: -60%;
    bottom: 0;
    width: 40rem;
  }
  .hk-main .hk-section.hk-section-about .section-back-tag {
    z-index: 3;
  }
  .hk-main .hk-section.hk-section-skills {
    padding-top: 9rem;
  }
  .hk-main .hk-section.hk-section-skills .hk-skills {
    flex-direction: column;
    align-items: start;
  }
  .hk-main .hk-section.hk-section-skills .hk-skills .hk-skill {
    font-size: 3rem;
    margin-right: 0rem;
    margin-bottom: 5rem;
    padding: 1rem 0;
  }
  .hk-main .hk-section.hk-section-skills .hk-skills .hk-skill .hk-skill-logo {
    left: unset;
    right: unset;
  }
  .hk-main .hk-section.hk-section-skills .hk-skills .hk-skill .hk-skill-content {
    text-align: left;
  }
  .hk-main .hk-section.hk-section-skills .hk-skills .hk-skill:nth-of-type(2n + 1) .hk-skill-logo {
    right: 0;
    transform: translate(50%, -70%);
  }
  .hk-main .hk-section.hk-section-skills .hk-skills .hk-skill:nth-of-type(2n) .hk-skill-logo {
    right: 0;
    transform: translate(50%, -70%);
  }
  .hk-main .hk-section.hk-section-skills .hk-skills .hk-skill:last-of-type {
    margin-bottom: 0;
  }
  .hk-main .hk-section .section-back-tag {
    font-size: 5rem;
    letter-spacing: 2rem;
    left: calc(100vw + 1rem);
    top: 8rem;
    transform: rotate(90deg);
  }
  .hk-main .hk-section.hk-section-experience {
    padding-left: 0;
  }
  .hk-main .hk-section.hk-section-experience .hk-exp-timeline .hk-timeline-node .node-content {
    margin-left: 0rem;
  }
  .hk-main .hk-section.hk-section-contact-me .hk-contact-options .hk-contact-option {
    font-size: 1.5rem;
  }
}

/*# sourceMappingURL=style.css.map */
